
<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="container  ">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Cinema Maroc</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a routerLink="">Cinemas</a></li>

   <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="admin/city">Ajouter Ville</a></li>
          <li><a routerLink="admin/cinema">Ajouter Cinema</a></li>
          <li><a routerLink="admin/room">Ajouter Salle</a></li>
        </ul>
      </li>

    </ul>
  </div>
</div>
</nav>
